Repository babeloo/health-management: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-pm-protocol.js, eslint --fix, prettier --write, black, flake8

feat: 集成 MinIO 文件存储服务 (#5)
  .claude/settings.local.json
  .claude/specs/chronic-disease-management/tasks.md
  backend/.env.development
  backend/package.json
  backend/src/common/storage/file-storage.service.spec.ts
  backend/src/common/storage/file-storage.service.ts
  backend/src/common/storage/storage.module.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 添加 test:unit 测试命令配置
  .lintstagedrc.json
  CLAUDE.md
  backend/package.json
  package.json
Due: node scripts/check-pm-protocol.js, prettier --write

test: 完成用户模块测试并优化项目配置 (#5)
  .claude/agents/ai-python.md
  .claude/agents/architect.md
  .claude/agents/backend-ts.md
  .claude/agents/data-infra.md
  .claude/agents/mobile.md
  .claude/agents/pm.md
  .claude/settings.local.json
  .claude/specs/chronic-disease-management/tasks.md
  .gitignore
  .lintstagedrc.json
  backend/.env.development
  backend/.env.production
  backend/.env.staging
  backend/src/common/storage/file-storage.service.spec.ts
  backend/src/common/storage/file-storage.service.ts
  backend/src/common/validators/image-file-type.validator.ts
  backend/src/user/dto/query-users.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/test/jest-e2e.json
  backend/test/user/user.e2e-spec.ts
  package.json
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

ci: 配置 GitHub Actions CI/CD 工作流
  .github/workflows/README.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/dependency-update.yml
  package.json
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 初始化 AI 服务模块基础框架
  .github/workflows/ci.yml
  .lintstagedrc.json
  ai-service/.flake8
  ai-service/.gitignore
  ai-service/README.md
  ai-service/app/__init__.py
  ai-service/app/main.py
  ai-service/pyproject.toml
  ai-service/requirements.txt
  ai-service/tests/__init__.py
  ai-service/tests/unit/__init__.py
  ai-service/tests/unit/test_main.py
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

fix: 移除 GitHub Actions 中的 MinIO 服务配置
  .github/workflows/ci.yml
Due: node scripts/check-pm-protocol.js, prettier --write

fix: 修复 E2E 测试失败问题
  .claude/specs/chronic-disease-management/tasks.md
  .github/workflows/ci.yml
  backend/src/auth/dto/register.dto.ts
  backend/src/common/storage/file-storage.service.spec.ts
  backend/src/common/storage/file-storage.service.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

fix: 修复 E2E 测试配置问题
  .claude/specs/chronic-disease-management/tasks.md
  backend/test/auth/auth.e2e-spec.ts
  backend/test/user/user.e2e-spec.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

fix: 修复 E2E 测试中的验证错误消息和 Token 刷新问题
  .claude/specs/chronic-disease-management/tasks.md
  backend/src/auth/dto/register.dto.ts
  backend/src/common/filters/all-exceptions.filter.ts
  backend/test/auth/auth.e2e-spec.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

ci: 在 GitHub Actions 中添加 MinIO 服务支持
  .github/workflows/ci.yml
Due: node scripts/check-pm-protocol.js, prettier --write

ci: 改进 MinIO 启动健康检查
  .github/workflows/ci.yml
Due: node scripts/check-pm-protocol.js, prettier --write

fix: 修复 MinIO bucket 并发创建错误
  .claude/specs/chronic-disease-management/tasks.md
  backend/src/common/storage/file-storage.service.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

ci: 在构建步骤中添加 Prisma Client 生成
  .github/workflows/ci.yml
Due: node scripts/check-pm-protocol.js, prettier --write

ci: 修复 CI 工作流错误并优化测试流程 (#1)
  .claude/specs/chronic-disease-management/tasks.md
  .github/workflows/ci.yml
  backend/src/common/storage/file-storage.service.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现健康档案管理接口 (#8)
  .claude/specs/chronic-disease-management/tasks.md
  backend/.eslintrc.js
  backend/package.json
  backend/src/app.module.ts
  backend/src/health/dto/create-health-record.dto.ts
  backend/src/health/dto/health-document.dto.ts
  backend/src/health/dto/index.ts
  backend/src/health/dto/update-health-record.dto.ts
  backend/src/health/health.controller.ts
  backend/src/health/health.module.ts
  backend/src/health/health.service.spec.ts
  backend/src/health/health.service.ts
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现健康打卡接口 (#3)
  .claude/specs/chronic-disease-management/tasks.md
  backend/src/health/dto/check-in-calendar.dto.ts
  backend/src/health/dto/check-in-query.dto.ts
  backend/src/health/dto/check-in-trend.dto.ts
  backend/src/health/dto/create-check-in.dto.ts
  backend/src/health/dto/index.ts
  backend/src/health/health.controller.ts
  backend/src/health/health.service.spec.ts
  backend/src/health/health.service.ts
  backend/test/health/check-in.e2e-spec.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 升级 Prisma 从 v5.7.0 到 v7.2.0 (#2.5)
  .claude/specs/chronic-disease-management/tasks.md
  .github/workflows/cd.yml
  .gitignore
  CHANGELOG.md
  backend/package.json
  backend/prisma.config.ts
  backend/prisma/schema.prisma
  backend/src/common/prisma/prisma.service.ts
  backend/src/health/dto/check-in-calendar.dto.ts
  backend/src/health/dto/check-in-query.dto.ts
  backend/src/health/dto/check-in-trend.dto.ts
  backend/src/health/dto/create-check-in.dto.ts
  backend/src/health/health.controller.ts
  backend/src/health/health.service.spec.ts
  backend/src/health/health.service.ts
  backend/test/health/check-in.e2e-spec.ts
  docs/PRISMA_7_UPGRADE.md
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 集成 InfluxDB 时序数据存储 (#3)
  .claude/specs/chronic-disease-management/tasks.md
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  backend/docs/influxdb/DEPLOYMENT.md
  backend/docs/influxdb/FLUX_QUERIES.md
  backend/docs/influxdb/INFLUXDB_SCHEMA.md
  backend/docs/influxdb/PERFORMANCE_REPORT.md
  backend/docs/influxdb/README.md
  backend/scripts/performance-test.sh
  backend/src/app.module.ts
  backend/src/common/influx/influx.config.ts
  backend/src/common/influx/influx.module.ts
  backend/src/common/influx/influx.service.spec.ts
  backend/src/common/influx/influx.service.ts
  backend/src/health/dto/create-check-in.dto.ts
  backend/src/health/dto/health-trend.dto.ts
  backend/src/health/dto/index.ts
  backend/src/health/health.controller.ts
  backend/src/health/health.module.ts
  backend/src/health/health.service.spec.ts
  backend/src/health/health.service.ts
  backend/test/health/check-in.e2e-spec.ts
  docs/development/WINDOWS.md
  docs/reports/task-completion/influxdb-integration-completion-report.md
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现健康风险评估接口 (#4)
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  backend/docs/risk-assessment/implementation-summary.md
  backend/docs/risk-assessment/service-implementation.md
  backend/src/health/dto/index.ts
  backend/src/health/dto/risk-assessment.dto.ts
  backend/src/health/health.controller.spec.ts
  backend/src/health/health.controller.ts
  backend/src/health/health.module.ts
  backend/src/health/health.service.spec.ts
  backend/src/health/health.service.ts
  backend/src/health/services/index.ts
  backend/src/health/services/risk-calculation.service.spec.ts
  backend/src/health/services/risk-calculation.service.ts
  backend/test/health/risk-assessment.e2e-spec.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现积分交易管理接口 (#7)
  .claude/specs/chronic-disease-management/tasks.md
  backend/src/app.module.ts
  backend/src/points/dto/earn-points.dto.ts
  backend/src/points/dto/index.ts
  backend/src/points/dto/points-query.dto.ts
  backend/src/points/dto/redeem-points.dto.ts
  backend/src/points/points.controller.ts
  backend/src/points/points.module.ts
  backend/src/points/points.service.spec.ts
  backend/src/points/points.service.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现积分排行榜功能 (#7)
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  backend/docs/leaderboard/API.md
  backend/docs/leaderboard/IMPLEMENTATION.md
  backend/src/app.module.ts
  backend/src/common/cache/cache.module.ts
  backend/src/common/cache/cache.service.spec.ts
  backend/src/common/cache/cache.service.ts
  backend/src/points/dto/index.ts
  backend/src/points/dto/leaderboard.dto.ts
  backend/src/points/points.controller.ts
  backend/src/points/points.service.spec.ts
  backend/src/points/points.service.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

docs: 更新积分规则引擎任务状态和配置文件 (#7)
  .claude/specs/chronic-disease-management/tasks.md
  backend/config/points-rules.json
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现积分规则引擎和连续打卡奖励系统 (#7)
  CHANGELOG.md
  backend/prisma/schema.prisma
  backend/src/health/health.module.ts
  backend/src/health/health.service.ts
  backend/src/points/points.module.ts
  backend/src/points/services/points-rules.service.ts
  backend/src/points/services/streak-calculation.service.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 配置后端服务启动和Swagger文档
  .claude/agents/pm.md
  .claude/specs/chronic-disease-management/design.md
  .claude/specs/chronic-disease-management/tasks.md
  .env.example
  CLAUDE.md
  backend/.env.example
  backend/docs/influxdb/DEPLOYMENT.md
  backend/docs/influxdb/PERFORMANCE_REPORT.md
  backend/docs/leaderboard/API.md
  backend/src/main.ts
  docker-compose.yml
  docs/development/WINDOWS.md
  docs/reports/task-completion/influxdb-integration-completion-report.md
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

fix: 修复Redis连接认证问题
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  backend/src/common/cache/cache.service.ts
  docker-compose.yml
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

fix: 修复Redis连接认证问题 (#2)
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  backend/src/common/cache/cache.service.ts
  docker-compose.yml
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

fix: 修复 HealthService 单元测试依赖注入问题
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  backend/src/health/health.service.spec.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

fix: 完善 mockStreakCalculationService 配置
  backend/src/health/health.service.spec.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

fix: 修复 HealthService 单元测试依赖注入问题 (#3)
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  backend/src/health/health.service.spec.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现实时通讯基础模块（WebSocket + MongoDB）(#10, #13)
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  backend/package.json
  backend/src/app.module.ts
  backend/src/chat/chat.controller.ts
  backend/src/chat/chat.gateway.ts
  backend/src/chat/chat.module.ts
  backend/src/chat/chat.service.ts
  backend/src/chat/dto/index.ts
  backend/src/chat/dto/send-message.dto.ts
  backend/src/chat/guards/ws-jwt.guard.ts
  backend/src/chat/schemas/message.schema.ts
  backend/src/common/cache/cache.service.ts
  backend/src/health/health.service.spec.ts
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

test: 完成通讯模块测试并优化项目管理流程 (#8)
  .claude/agents/pm.md
  .claude/specs/chronic-disease-management/tasks.md
  backend/docs/chat/TESTING.md
  backend/package.json
  backend/src/chat/chat.controller.ts
  backend/src/chat/chat.service.spec.ts
  backend/test/chat/chat.e2e-spec.ts
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现通知服务模块 (#9)
  .claude/specs/chronic-disease-management/tasks.md
  backend/docs/notification/IMPLEMENTATION.md
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/notification/dto/create-notification.dto.ts
  backend/src/notification/dto/index.ts
  backend/src/notification/dto/query-notifications.dto.ts
  backend/src/notification/notification-queue.service.ts
  backend/src/notification/notification.controller.ts
  backend/src/notification/notification.module.ts
  backend/src/notification/notification.processor.ts
  backend/src/notification/notification.service.spec.ts
  backend/src/notification/notification.service.ts
  backend/src/notification/push-notification.service.ts
  backend/test/notification/notification.e2e-spec.ts
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

docs: 统一 tasks.md 中任务格式
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现医患关系管理模块 (#8, #11)
  .claude/specs/chronic-disease-management/tasks.md
  backend/docs/audit/IMPLEMENTATION.md
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/audit/audit.controller.ts
  backend/src/audit/audit.module.ts
  backend/src/audit/audit.service.spec.ts
  backend/src/audit/audit.service.ts
  backend/src/audit/dto/index.ts
  backend/src/audit/dto/query-audit-logs.dto.ts
  backend/src/common/middlewares/audit-log.middleware.ts
  backend/src/relation/dto/create-doctor-patient-relation.dto.ts
  backend/src/relation/dto/create-manager-member-relation.dto.ts
  backend/src/relation/dto/index.ts
  backend/src/relation/dto/membership-type.enum.ts
  backend/src/relation/dto/query-relations.dto.ts
  backend/src/relation/dto/update-membership.dto.ts
  backend/src/relation/relation.controller.spec.ts
  backend/src/relation/relation.controller.ts
  backend/src/relation/relation.module.ts
  backend/src/relation/relation.service.spec.ts
  backend/src/relation/relation.service.ts
  docs/reports/plan/parallel-tasks-analysis.md
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 完善审计日志模块并集成到业务模块 (#18)
  .claude/specs/chronic-disease-management/tasks.md
  backend/docs/audit/AUDIT_INTEGRATION_REPORT.md
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/health/health.controller.ts
  backend/src/health/health.module.ts
  backend/src/health/health.service.spec.ts
  backend/src/health/health.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现数据分析模块 (#14)
  .claude/specs/chronic-disease-management/tasks.md
  backend/.eslintrc.js
  backend/package.json
  backend/src/analytics/analytics.controller.spec.ts
  backend/src/analytics/analytics.controller.ts
  backend/src/analytics/analytics.module.ts
  backend/src/analytics/analytics.service.spec.ts
  backend/src/analytics/analytics.service.ts
  backend/src/analytics/dto/check-in-stats.dto.ts
  backend/src/analytics/dto/dashboard.dto.ts
  backend/src/analytics/dto/export-report.dto.ts
  backend/src/analytics/dto/index.ts
  backend/src/analytics/dto/patient-stats.dto.ts
  backend/src/app.module.ts
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

docs: 更新第二阶段完成进度 (100%)
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 完成并行开发启动计划和执行指南
  docs/reports/parallel/QUICK-START.md
  docs/reports/parallel/WORKTREE-GUIDE.md
  docs/reports/parallel/parallel-development-kickoff.md
  docs/reports/parallel/parallel-tasks-analysis.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现 Python FastAPI 项目初始化 (#13)
  ai-service/.env.example
  ai-service/app/api/__init__.py
  ai-service/app/api/v1/__init__.py
  ai-service/app/api/v1/health.py
  ai-service/app/core/__init__.py
  ai-service/app/core/config.py
  ai-service/app/core/logger.py
  ai-service/app/main.py
  ai-service/tests/unit/test_config.py
  ai-service/tests/unit/test_main.py
Due: node scripts/check-pm-protocol.js, black, flake8

Path conditions:
  node scripts/check-pm-protocol.js: any of: *
  eslint --fix: ((any of: backend/**/*.{ts,tsx}) or (any of: frontend-patient/**/*.{js,jsx,ts,tsx,vue})) or (any of: frontend-web/**/*.{js,jsx,ts,tsx})
  prettier --write: (((any of: backend/**/*.{ts,tsx}) or (any of: frontend-patient/**/*.{js,jsx,ts,tsx,vue})) or (any of: frontend-web/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md,yml,yaml})
  black: any of: ai-service/**/*.py
  flake8: any of: ai-service/**/*.py
