Repository babeloo/health-management: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-pm-protocol.js, eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd backend && pnpm test:unit --bail --passWithNoTests', black, flake8

docs: 完成前后端联调测试（非 AI 功能）并调整任务策略
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  docs/reports/daily/2026-01-06-progress-report.md
Due: node scripts/check-pm-protocol.js, prettier --write

chore: 清理临时测试文件和日志文件
  .gitignore
  docs/reports/file-cleanup-report-2026-01-07.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 更新 CHANGELOG 记录文件清理和安全处理
  CHANGELOG.md
Due: node scripts/check-pm-protocol.js, prettier --write

chore: 重组项目文件结构、完成 AI 功能联调测试并优化部署配置
  .claude/specs/chronic-disease-management/tasks.md
  .dockerignore
  CHANGELOG.md
  ai-service/.python-version
  ai-service/app/config/settings.py
  ai-service/app/middleware/auth.py
  ai-service/app/routers/ai_router.py
  ai-service/app/services/ai_service.py
  ai-service/app/services/deepseek_client.py
  ai-service/app/services/embedding_service.py
  ai-service/main.py
  ai-service/pyproject.toml
  ai-service/uv.lock
  backend/Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
  docs/guides/ai-service-monitoring.md
  docs/reports/integration-test-report-2026-01-06.md
  emqx/acl.conf
  emqx/auth-pgsql.conf
  frontend-patient/Dockerfile
  frontend-web/Dockerfile
  package.json
  scripts/integration-tests/README.md
  scripts/integration-tests/ai-integration-test.py
  scripts/integration-tests/ai-integration-test.sh
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

feat: 添加 AI 服务独立 Embedding API 配置与测试套件
  .claude/specs/chronic-disease-management/tasks.md
  .env.example
  .gitignore
  CLAUDE.md
  ai-service/.env.example
  ai-service/app/config/settings.py
  ai-service/app/services/embedding_service.py
  ai-service/tests/test_config.py
  ai-service/tests/test_embedding.py
  ai-service/tests/test_rag_embedding.py
  ai-service/tests/test_rag_embedding_simple.py
  docker-compose.prod.yml
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

feat: 升级 Qdrant 向量数据库到 v1.16.2
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  ai-service/app/services/qdrant_service.py
  ai-service/pyproject.toml
  ai-service/requirements.txt
  docker-compose.prod.yml
  docker-compose.yml
  docs/guides/qdrant-upgrade-guide.md
  docs/reference/qdrant-version-reference.md
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

docs: 优化文档结构和文件组织
  .lintstagedrc.json
Due: node scripts/check-pm-protocol.js, prettier --write

fix: 修复 CI 失败问题
  .claude/specs/chronic-disease-management/tasks.md
  .github/workflows/ci.yml
  ai-service/app/api/v1/health.py
  ai-service/app/api/v1/rag.py
  ai-service/app/config/settings.py
  ai-service/app/core/config.py
  ai-service/app/models/agent_models.py
  ai-service/app/models/rag_models.py
  ai-service/app/services/__init__.py
  ai-service/app/services/agent_service.py
  ai-service/app/services/conversation_service.py
  ai-service/app/services/deepseek_client.py
  ai-service/app/services/embedding_service.py
  ai-service/app/services/intent_service.py
  ai-service/app/services/prompt_templates.py
  ai-service/app/services/qdrant_service.py
  ai-service/tests/test_embedding.py
  ai-service/tests/test_rag_embedding.py
  ai-service/tests/test_rag_embedding_simple.py
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

fix: 修复 CI pnpm 版本不兼容问题
  .github/workflows/ci.yml
Due: node scripts/check-pm-protocol.js, prettier --write

fix: 升级 pnpm-lock.yaml 到 lockfileVersion 9.0
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, prettier --write

fix: CI 中重新编译 bcrypt native 模块
  .github/workflows/ci.yml
Due: node scripts/check-pm-protocol.js, prettier --write

fix: 在根目录重新编译 bcrypt
  .github/workflows/ci.yml
Due: node scripts/check-pm-protocol.js, prettier --write

chore: 添加 .npmrc 配置允许 native 模块构建
  .npmrc
Due: node scripts/check-pm-protocol.js

fix: 使用 --unsafe-perm 允许构建脚本运行
  .github/workflows/ci.yml
Due: node scripts/check-pm-protocol.js, prettier --write

fix: 通过环境变量设置 unsafe-perm
  .github/workflows/ci.yml
  .npmrc
Due: node scripts/check-pm-protocol.js, prettier --write

fix: mock bcrypt in tests to avoid native module compilation in CI
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/mqtt/mqtt.service.spec.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd backend && pnpm test:unit --bail --passWithNoTests'

Path conditions:
  node scripts/check-pm-protocol.js: any of: *
  eslint --fix: ((any of: backend/**/*.{ts,tsx}) or (any of: frontend-patient/**/*.{js,jsx,ts,tsx,vue})) or (any of: frontend-web/**/*.{js,jsx,ts,tsx})
  prettier --write: (((any of: backend/**/*.{ts,tsx}) or (any of: frontend-patient/**/*.{js,jsx,ts,tsx,vue})) or (any of: frontend-web/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'cd backend && tsc --noEmit': any of: backend/src/**/*.{ts,tsx}
  bash -c 'cd backend && pnpm test:unit --bail --passWithNoTests': any of: backend/src/**/*.{ts,tsx}
  black: any of: ai-service/**/*.py
  flake8: any of: ai-service/**/*.py
