Repository babeloo/health-management: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-pm-protocol.js, eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd backend && pnpm test:unit --bail --passWithNoTests', black, flake8

docs: 更新任务20完成状态
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现 DeepSeek API 集成 (#14)
  ai-service/app/api/v1/__init__.py
  ai-service/app/api/v1/ai.py
  ai-service/app/models/__init__.py
  ai-service/app/models/ai_models.py
  ai-service/app/services/__init__.py
  ai-service/app/services/ai_service.py
  ai-service/app/services/deepseek_client.py
  ai-service/app/services/prompt_templates.py
  ai-service/docs/DEEPSEEK_INTEGRATION.md
  ai-service/docs/TASK14_SUMMARY.md
  ai-service/start.sh
  ai-service/tests/test_ai_api.py
  ai-service/tests/test_ai_service.py
  ai-service/tests/test_deepseek_client.py
  ai-service/tests/test_prompt_templates.py
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

docs: 更新任务30进度（AI 辅助分析页面完成）
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 更新 tasks.md 记录任务21完成状态
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现 RAG 知识库功能 (#15)
  ai-service/app/api/v1/__init__.py
  ai-service/app/api/v1/rag.py
  ai-service/app/models/rag_models.py
  ai-service/app/services/embedding_service.py
  ai-service/app/services/qdrant_service.py
  ai-service/app/services/rag_service.py
  ai-service/docs/RAG_USAGE.md
  ai-service/docs/TASK15_COMPLETION_SUMMARY.md
  ai-service/docs/health_knowledge_data.py
  ai-service/requirements.txt
  ai-service/scripts/import_knowledge.py
  ai-service/tests/test_rag.py
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

docs: 更新任务31完成状态和变更日志
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现任务16 - AI Agent 对话管理 (#16)
  ai-service/app/api/v1/__init__.py
  ai-service/app/api/v1/agent.py
  ai-service/app/models/agent_models.py
  ai-service/app/services/__init__.py
  ai-service/app/services/agent_service.py
  ai-service/app/services/checkin_parser.py
  ai-service/app/services/conversation_service.py
  ai-service/app/services/intent_service.py
  ai-service/app/services/redis_service.py
  ai-service/docs/task16-agent-management.md
  ai-service/pyproject.toml
  ai-service/requirements.txt
  ai-service/tests/api/__init__.py
  ai-service/tests/api/test_agent_api.py
  ai-service/tests/conftest.py
  ai-service/tests/services/__init__.py
  ai-service/tests/services/test_checkin_parser.py
  ai-service/tests/services/test_intent_service.py
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

docs: 添加任务16完成总结文档
  ai-service/docs/TASK16_COMPLETION_SUMMARY.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现 AI 辅助诊断模块 (#17)
  DIAGNOSIS_IMPLEMENTATION_SUMMARY.md
  ai-service/app/api/v1/__init__.py
  ai-service/app/api/v1/diagnosis.py
  ai-service/app/models/diagnosis_models.py
  ai-service/app/services/diagnosis_service.py
  ai-service/tests/api/test_diagnosis_api.py
  ai-service/tests/test_diagnosis_service.py
  ai-service/verify_diagnosis_module.py
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

feat: 实现健康管理师端 AI 干预助手模块 (#33)
  .claude/specs/chronic-disease-management/tasks.md
  docs/reports/parallel/task-groups-execution-plan.md
  docs/reports/parallel/worktree-consolidation-report.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 更新 Task 18 (AI 服务监控与优化) 为完成状态
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现 AI 服务监控与优化模块 (#18)
  ai-service/MONITORING_GUIDE.md
  ai-service/app/api/v1/metrics.py
  ai-service/app/main.py
  ai-service/app/middleware/metrics_middleware.py
  ai-service/app/services/cache_service.py
  ai-service/app/services/metrics_service.py
  ai-service/requirements.txt
  ai-service/tests/performance_test.py
  ai-service/tests/test_analyzer.py
  ai-service/tests/test_integration_monitoring.py
  ai-service/tests/test_monitoring_and_cache.py
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

docs: 更新第五阶段任务进度 - 数据可视化完成 (#34)
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 更新任务32完成进度（健康管理师端会员管理）
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 更新 Task 25 完成状态（患者端积分系统）
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现 IoT 设备接入功能 (#36 #37)
  .claude/specs/chronic-disease-management/tasks.md
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/device/device.controller.ts
  backend/src/device/device.module.ts
  backend/src/device/device.service.ts
  backend/src/device/dto/bind-device.dto.ts
  backend/src/device/dto/register-device.dto.ts
  backend/src/mqtt/dto/device-data.dto.ts
  backend/src/mqtt/dto/index.ts
  backend/src/mqtt/mqtt.controller.ts
  backend/src/mqtt/mqtt.module.ts
  backend/src/mqtt/mqtt.service.spec.ts
  backend/src/mqtt/mqtt.service.ts
  docker-compose.yml
  docs/reports/task-reports/TASK-36-COMPLETION-REPORT.md
  docs/reports/task-reports/TASK-37-COMPLETION-REPORT.md
  emqx/README.md
  emqx/acl.conf
  emqx/auth-pgsql.conf
  emqx/emqx.conf
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd backend && pnpm test:unit --bail --passWithNoTests'

chore: 更新 pnpm-lock.yaml（添加 MQTT 依赖）
  pnpm-lock.yaml
Due: node scripts/check-pm-protocol.js, prettier --write

chore: 添加前端项目 ESLint 配置
  .claude/specs/chronic-disease-management/tasks.md
  frontend-patient/.eslintrc.cjs
  frontend-web/.eslintrc.cjs
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现患者端 AI 健康科普和管理后台系统配置功能 (#24 #35)
  GIT-WORKTREE-STATUS-REPORT.md
  docs/reports/task-reports/TASK-24-COMPLETION-REPORT.md
  frontend-patient/.gitignore
  frontend-patient/IMPLEMENTATION-SUMMARY.md
  frontend-patient/README.md
  frontend-patient/index.html
  frontend-patient/package.json
  frontend-patient/src/App.vue
  frontend-patient/src/api/ai.ts
  frontend-patient/src/main.ts
  frontend-patient/src/manifest.json
  frontend-patient/src/pages.json
  frontend-patient/src/pages/ai-chat/index.vue
  frontend-patient/src/pages/education/detail.vue
  frontend-patient/src/pages/education/index.vue
  frontend-patient/src/pages/index/index.vue
  frontend-patient/src/stores/ai.ts
  frontend-patient/src/types/ai.ts
  frontend-patient/src/utils/request.ts
  frontend-patient/tsconfig.json
  frontend-patient/vite.config.ts
  frontend-web/.gitignore
  frontend-web/.prettierrc
  frontend-web/README.md
  frontend-web/TASK-35-COMPLETION-REPORT.md
  frontend-web/index.html
  frontend-web/package.json
  frontend-web/src/App.tsx
  frontend-web/src/main.tsx
  frontend-web/src/pages/admin/audit-logs/index.tsx
  frontend-web/src/pages/admin/settings/index.tsx
  frontend-web/src/pages/admin/users/index.tsx
  frontend-web/src/services/admin.ts
  frontend-web/src/stores/useAdminStore.ts
  frontend-web/src/types/index.ts
  frontend-web/src/utils/request.ts
  frontend-web/tsconfig.json
  frontend-web/tsconfig.node.json
  frontend-web/vite.config.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

docs: 添加 Git Worktree 状态分析报告
  docs/reports/GIT-WORKTREE-STATUS-REPORT.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 更新项目进度和任务状态（77.1%完成）
  .claude/specs/chronic-disease-management/tasks.md
  ai-service/app/config/__init__.py
  ai-service/app/config/settings.py
  ai-service/app/main.py
  ai-service/app/models/__init__.py
  ai-service/app/models/schemas.py
  ai-service/app/routers/__init__.py
  ai-service/app/routers/ai_router.py
  ai-service/app/routers/education_router.py
  ai-service/app/services/__init__.py
  ai-service/app/services/ai_service.py
  ai-service/app/services/article_service.py
  ai-service/app/services/conversation_service.py
  ai-service/app/services/rag_service.py
  ai-service/tests/unit/test_ai_service.py
  ai-service/tests/unit/test_article_service.py
  ai-service/tests/unit/test_conversation_service.py
  ai-service/tests/unit/test_routers.py
  backend/prisma/migrations/migration_lock.toml
  docs/reports/ARCHITECTURE-REVIEW-REQUEST.md
  docs/reports/PROJECT-PROGRESS-REPORT-2025-12-30.md
  docs/reports/PROJECT-PROGRESS-REPORT-2025-12-31.md
  docs/reports/WORKTREE-CONSOLIDATION-REVIEW.md
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

docs: 添加项目管理总结报告（2025-12-31）
  docs/reports/PROJECT-MANAGEMENT-SUMMARY-2025-12-31.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 添加架构审查报告和各模块完成报告
  docs/reports/ARCHITECTURE-REVIEW-REPORT.md
  docs/reports/ARCHITECTURE-REVIEW-SUMMARY.md
  docs/reports/parallel/admin-frontend-completion-report.md
  docs/reports/parallel/ai-service-completion-report.md
  docs/reports/parallel/patient-frontend-completion-report.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现敏感数据加密功能 (#18)
  .claude/specs/chronic-disease-management/tasks.md
  ai-service/.env.example
  ai-service/app/config/__init__.py
  ai-service/app/config/settings.py
  ai-service/app/main.py
  ai-service/app/middleware/__init__.py
  ai-service/app/middleware/auth.py
  ai-service/app/models/schemas.py
  ai-service/app/routers/ai_router.py
  ai-service/app/routers/education_router.py
  ai-service/requirements.txt
  ai-service/tests/unit/test_jwt_auth.py
  docs/reports/parallel/encryption-implementation-report.md
  docs/reports/parallel/jwt-auth-implementation-report.md
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

feat: 实现患者端风险评估功能 (#4)
  .claude/specs/chronic-disease-management/tasks.md
  frontend-patient/TASK-25-COMPLETION-REPORT.md
  frontend-patient/src/api/points.ts
  frontend-patient/src/pages/points/index.vue
  frontend-patient/src/pages/points/leaderboard.vue
  frontend-patient/src/pages/points/mall.vue
  frontend-patient/src/stores/usePoints.ts
  frontend-patient/src/types/points.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现患者端风险评估功能 (#4)
  frontend-patient/TASK-23-COMPLETION-REPORT.md
  frontend-patient/src/api/assessment.ts
  frontend-patient/src/pages/assessment/diabetes.vue
  frontend-patient/src/pages/assessment/index.vue
  frontend-patient/src/pages/assessment/stroke-recognition.vue
  frontend-patient/src/pages/assessment/stroke.vue
  frontend-patient/src/pages/assessment/vascular-age.vue
  frontend-patient/src/types/assessment.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 实现患者端医患沟通功能 (#10 #13)
  frontend-patient/TASK-26-COMPLETION-REPORT.md
  frontend-patient/src/api/messages.ts
  frontend-patient/src/pages/messages/chat.vue
  frontend-patient/src/pages/messages/index.vue
  frontend-patient/src/stores/messages.ts
  frontend-patient/src/types/message.ts
  frontend-patient/src/utils/socket.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

fix: 修复P0-1和P0-2严重安全漏洞 (#18)
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  backend/src/common/encryption/encryption.module.ts
  backend/src/common/encryption/encryption.service.spec.ts
  backend/src/common/encryption/encryption.service.ts
  backend/src/common/encryption/index.ts
  backend/src/common/encryption/prisma-encryption.middleware.spec.ts
  backend/src/common/encryption/prisma-encryption.middleware.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd backend && pnpm test:unit --bail --passWithNoTests'

docs: 添加项目完成总结报告（2025-12-31）
  docs/reports/PROJECT-COMPLETION-SUMMARY-2025-12-31.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 重构文档目录结构，统一管理项目文档
  .claude/custom_instructions.md
  CHANGELOG.md
  GIT-WORKTREE-STATUS-REPORT.md
  docs/README.md
  docs/development/PRISMA_7_UPGRADE.md
  docs/reports/architecture/ARCHITECTURE-REVIEW-REPORT.md
  docs/reports/architecture/ARCHITECTURE-REVIEW-REQUEST.md
  docs/reports/architecture/ARCHITECTURE-REVIEW-SUMMARY.md
  docs/reports/parallel/WORKTREE-CONSOLIDATION-REVIEW.md
  docs/reports/project-summaries/PROJECT-COMPLETION-SUMMARY-2025-12-31.md
  docs/reports/project-summaries/PROJECT-MANAGEMENT-SUMMARY-2025-12-31.md
  docs/reports/project-summaries/PROJECT-PROGRESS-REPORT-2025-12-30.md
  docs/reports/project-summaries/PROJECT-PROGRESS-REPORT-2025-12-31.md
  docs/reports/tasks/backend/TASK-24-COMPLETION-REPORT.md
  docs/reports/tasks/backend/TASK-36-COMPLETION-REPORT.md
  docs/reports/tasks/backend/TASK-37-COMPLETION-REPORT.md
  docs/reports/tasks/backend/influxdb-integration-completion-report.md
  docs/reports/tasks/frontend-patient/IMPLEMENTATION-SUMMARY.md
  docs/reports/tasks/frontend-patient/TASK-23-COMPLETION-REPORT.md
  docs/reports/tasks/frontend-patient/TASK-25-COMPLETION-REPORT.md
  docs/reports/tasks/frontend-patient/TASK-26-COMPLETION-REPORT.md
  docs/reports/tasks/frontend-web/TASK-35-COMPLETION-REPORT.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 修复CHANGELOG.md格式问题
  CHANGELOG.md
Due: node scripts/check-pm-protocol.js, prettier --write

refactor: 重构知识库数据结构，移动到 app/data 模块
  .claude/specs/chronic-disease-management/tasks.md
  ai-service/app/data/__init__.py
  ai-service/app/data/knowledge_base.py
  ai-service/scripts/import_knowledge.py
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

docs: 更新项目进度和剩余任务分析
  .claude/specs/chronic-disease-management/tasks.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现Docker容器化部署 (#38)
  ai-service/.dockerignore
  ai-service/Dockerfile
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.yml
  docs/deployment/DOCKER-DEPLOYMENT.md
  docs/reports/tasks/infrastructure/TASK-38-COMPLETION-REPORT.md
  frontend-patient/.dockerignore
  frontend-patient/Dockerfile
  frontend-patient/nginx.conf
  frontend-web/.dockerignore
  frontend-web/Dockerfile
  frontend-web/nginx.conf
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现患者端评估结果对比页面 (#4)
  .claude/specs/chronic-disease-management/tasks.md
  .prettierignore
  docs/reports/tasks/frontend-patient/TASK-23.5-COMPLETION-REPORT.md
  frontend-patient/src/pages.json
  frontend-patient/src/pages/assessment/compare.vue
  frontend-patient/src/pages/assessment/index.vue
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

feat: 合并AI服务监控、缓存和知识库功能
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  ai-service/MONITORING_GUIDE.md
  ai-service/app/api/v1/metrics.py
  ai-service/app/core/logger.py
  ai-service/app/data/knowledge_base.py
  ai-service/app/main.py
  ai-service/app/middleware/metrics_middleware.py
  ai-service/app/services/cache_service.py
  ai-service/app/services/metrics_service.py
  ai-service/requirements.txt
Due: node scripts/check-pm-protocol.js, prettier --write, black, flake8

docs: 重组文档结构并统一命名规范
  docs/NAMING-CONVENTIONS.md
  docs/README.md
  docs/development/prisma-7-upgrade.md
  docs/guides/docker-deployment.md
  docs/guides/quick-start.md
  docs/guides/windows-development.md
  docs/guides/worktree-guide.md
  docs/reference/architecture/review-report.md
  docs/reference/architecture/review-request.md
  docs/reference/architecture/review-summary.md
  docs/reports/completion/admin-frontend.md
  docs/reports/completion/ai-service.md
  docs/reports/completion/encryption-implementation.md
  docs/reports/completion/jwt-auth-implementation.md
  docs/reports/completion/patient-frontend.md
  docs/reports/completion/stage1-summary.md
  docs/reports/completion/tasks/backend/influxdb-integration-completion.md
  docs/reports/completion/tasks/backend/task-24-completion.md
  docs/reports/completion/tasks/backend/task-36-completion.md
  docs/reports/completion/tasks/backend/task-37-completion.md
  docs/reports/completion/tasks/frontend-patient/implementation-summary.md
  docs/reports/completion/tasks/frontend-patient/task-22-summary.md
  docs/reports/completion/tasks/frontend-patient/task-23-5-completion.md
  docs/reports/completion/tasks/frontend-patient/task-23-completion.md
  docs/reports/completion/tasks/frontend-patient/task-25-completion.md
  docs/reports/completion/tasks/frontend-patient/task-26-completion.md
  docs/reports/completion/tasks/frontend-web/task-35-completion.md
  docs/reports/completion/tasks/infrastructure/task-38-completion.md
  docs/reports/parallel/execution-plan.md
  docs/reports/parallel/kickoff.md
  docs/reports/parallel/tasks-analysis.md
  docs/reports/parallel/worktree-consolidation-review.md
  docs/reports/parallel/worktree-consolidation.md
  docs/reports/progress/2025-12-30.md
  docs/reports/progress/2025-12-31.md
  docs/reports/progress/project-completion-summary.md
  docs/reports/progress/project-management-summary.md
  docs/reports/worktree-management/cleanup-report-2026-01-01.md
  docs/reports/worktree-management/cleanup-strategy.md
  docs/reports/worktree-management/status-report.md
Due: node scripts/check-pm-protocol.js, prettier --write

docs: 启动任务24和任务38并行开发
  .claude/specs/chronic-disease-management/tasks.md
  CHANGELOG.md
  docs/reports/parallel/PARALLEL-TASKS-EXECUTION-PLAN.md
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 实现完整的 Docker 容器化部署方案 (#38)
  ai-service/Dockerfile
  backend/Dockerfile
  docker-compose.prod.yml
  docs/deployment/DOCKER_DEPLOYMENT.md
  docs/deployment/TASK38_COMPLETION_REPORT.md
  frontend-patient/Dockerfile
  frontend-web/Dockerfile
  scripts/build-images.bat
  scripts/build-images.sh
  scripts/health-check.bat
  scripts/health-check.sh
  scripts/quick-start.bat
  scripts/quick-start.sh
Due: node scripts/check-pm-protocol.js, prettier --write

feat: 完成患者端AI健康科普功能前后端集成
  .claude/specs/chronic-disease-management/tasks.md
  TASK24_COMPLETION_REPORT.md
  frontend-patient/src/api/ai.ts
  frontend-patient/src/types/ai.ts
  frontend-patient/src/utils/request.ts
Due: node scripts/check-pm-protocol.js, eslint --fix, prettier --write

Path conditions:
  node scripts/check-pm-protocol.js: any of: *
  eslint --fix: ((any of: backend/**/*.{ts,tsx}) or (any of: frontend-patient/**/*.{js,jsx,ts,tsx,vue})) or (any of: frontend-web/**/*.{js,jsx,ts,tsx})
  prettier --write: (((any of: backend/**/*.{ts,tsx}) or (any of: frontend-patient/**/*.{js,jsx,ts,tsx,vue})) or (any of: frontend-web/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'cd backend && tsc --noEmit': any of: backend/src/**/*.{ts,tsx}
  bash -c 'cd backend && pnpm test:unit --bail --passWithNoTests': any of: backend/src/**/*.{ts,tsx}
  black: any of: ai-service/**/*.py
  flake8: any of: ai-service/**/*.py
